<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DELIVERY</title>
    <link type="text/css" rel="stylesheet" href="../css.pos/normalize.css">
    <link type="text/css" rel="stylesheet" href="../css.pos/CustomerDeliver.css">
    <link rel="icon" type="img/png" href="../images/58482ec0cef1014c0b5e4a70.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">
</head>
<style>
    body{
    font-family: 'Roboto Condensed', sans-serif;
    }
    label{
        font-family: 'Roboto Condensed', sans-serif;
    }
    a{
        font-family: 'Roboto Condensed', sans-serif;
    }
    .header{
        height:120px;
        width:100%;
        background-color: darkolivegreen;
    }
</style>
<body>
<div class="header">
    <h1><img src="../images/shipping-1.png" width="100px">OUR DELIVERY SERVICE</h1>
</div>
<div class="maindeliver">
    <div class="deliver">
        <div class="navigation">
            <ul style="list-style-type: none; padding-left: 5px">
                    <li><img  class="navipic" src="../images/pos/home.png" href="index.html" style="width: 5vw"></li>
                    <li><a href="../html/DashBoard.html" target="_self">DASHBOARD</a></li>
                    <li><img  class="navipic" src="../images/pos/customer.png"  href="#" style="width: 6vw"></li>
                    <li><a href="Customer.html" target="_self">CUSTOMER </a></li>
                    <li><img class="navipic" src="../images/pos/items.png"  align="center" style="width: 6vw"></li>
                    <li><a href="Item.html" target="_self">ITEMS</a></li>
                    <li><img class="navipic" src="../images/pos/p3.png" style="width: 5vw"></li>
                    <li><a href="../views/Delivery.html" target="_self">DELIVERY </a></li>
                    <li><img class="navipic" src="../images/pos/contact.png" style="width: 5vw"></li>
                    <li><a href="" target="_self">ABOUTUS</a></li>
            </ul>
        </div>
        <div id="mydel" style="margin-left: 12vw; margin-top: -27vw">
                <ul>
                    <li class="one1">A.BULK DELIVERY</li>
                    <li class="two2">B.GROCERY DELIVERY</li>
                    <li class="three3">C.FOOD DELIVERY</li>
                </ul>
                <img class="one" src="../images/1099599.gif" style="width: 24vw">
                <img class="two" src="../images/truck2.gif" style="width: 24vw">
                <img class="three" src="../images/foodtruck_dribble.gif" style="width: 24vw">
        </div>
    </div>
        <div class="navideliver">

        </div>
</div>
<div class="contend">
    <h3>Deliver Process</h3>
    <img class="four" src="../images/deliver1.png" style="width: 24vw">
    <img class="five" src="../images/deliver%202.png" style="width: 28vw">
    <img class="six" src="../images/deliver3.png" style="width: 28vw">
    <div class="form">
    <form method="post" id="form">
        <pre>
                    <label>Customer Name :</label>              <input type="text" name="CusName">
                    <button type="submit">SUBMIT</button>
		    <label>DELIEVERY TYPE :</label>             <input type="text" name="CusID" placeholder="A or B or C">

		    <label>Nearest Town :</label>               <input type="text" name="CusAdd">

		    <label>Delivery Date</label>                <input type="text" name="CusSalary" placeholder="DD/MM/YYYY">

		    <label>Quantity:</label>                    <input type="text" name="quantity">
        </pre>
    </form>
    </div>
</div>


</body>
</html>