.header{
    height:150px;
    width:100%;
    background-color: aqua;
    background: rgb(200,214,22);
    background: linear-gradient(90deg, rgba(200,214,22,1) 27%, rgba(55,205,43,1) 86%, rgba(25,158,49,1) 98%);
    position:relative;
}
.nav{
    position: absolute;
    right: 0;
    color: black;
}
.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 14px;
    margin-top: -10px;
}
body{
    font-family: 'Roboto', sans-serif;

}
form{
    font-family: 'Ubuntu', sans-serif;

}
a{
    text-decoration: none;
    color: black ;
}
.div1{
    position: absolute;
    height: 200px;
}
#header{
    width:100%;
    background-color: #0d71bb;
    background: linear-gradient(90deg, rgba(200,214,22,1) 27%, rgba(55,205,43,1) 86%, rgba(25,158,49,1) 98%);
    height: 200px;
}
#content{
    height: 800px;
    width: 80%;
    margin-top: 200px;
    margin-left: 20%;
    background: rgb(200,214,22);
    background: linear-gradient(90deg, rgba(200,214,22,1) 27%, rgba(55,205,43,1) 86%, rgba(25,158,49,1) 98%);
}
#nav{
    width: 20%;
    margin-top: 200px;
    height: 800px;
    background-color: gray;
}
#footer{
    position: absolute;
    margin-top:1000px;
    width: 100%;
    background-color: #1aa62a;
}
.pictureshow {

    margin-left: 50px;
    height: 200px;
    width: 500px;
    background: url("../images/new1.jpg");
    background: url("../images/new2.jpg");
    background: url("../images/new3.jpg");
    background: url("../images/new4.jpg");
    background: url("../images/new5.jpg");
    animation: Slideshow;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
@keyframes Slideshow {
    0% {
        background: url("../images/new1.jpg");
    }
    25% {
        background: url("../images/new2.jpg");
    }
    50% {
        background: url("../images/new3.jpg");
    }
    75% {
        background: url("../images/new4.jpg");
    }
    100% {
        background: url("../images/new5.jpg");
    }
}